body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f9fafb;
}

.app-layout {
  display: flex;
  height: 100vh;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
